.progress-line {
  //   width: 600px;
  height: 2px;
  background-color: rgba(49, 174, 84, 0.3);
  border-radius: 1px;
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
}

.progress-line__process {
  width: 0;
  transition: width 5s linear;
  background-color: rgba(49, 174, 84, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 1px;
}

.progress-line.active .progress-line__process {
  width: 100%;
}
