.spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: conic-gradient(
rgba(49, 174, 84, 1) 0deg 300deg,
transparent 300deg 360deg
    );
    mask: radial-gradient(circle, transparent 60%, black 61%);
    animation: spin 0.9s linear infinite;
}

@keyframes spin {to {transform: rotate(360deg);} }
