.topline-part {
  display: flex;
  align-items: center;
  &__title {
    font-size: 40px;
    &--color{
      color: white;
    }
  }
  &__icons {
    cursor: pointer;
    margin-right: 28px;
    border-radius: 50%;
    max-width: 37px;
    max-height: 37px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

// .topline-part__title