.story-content {
  height: 667px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  border-top: 1px solid rgba(202, 202, 202, 1);
  border-bottom: 1px solid rgba(202, 202, 202, 1);
  padding-bottom: 6px;
  margin-bottom: 24px;
}

.story-content__img {
  flex-shrink: 0;
  margin-bottom: 12px;
}

.story-content__img-media {
  max-width: 293px;
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.story-content__text-wrapper {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 12px;

}



.story-content__text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
      word-break: break-word;
}

.story-content__button {
  flex-shrink: 0;
  padding: 10px 16px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
