

.story-content {
  height: 667px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  border-top: 1px solid rgba(202, 202, 202, 1);
  padding-bottom: 6px;
  margin-bottom: 24px;
}

.story-content__text-wrapper {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 12px;
  padding: 0 18px 0 27px;
}

:deep(pre) {
  white-space: pre-wrap !important;
  word-break: break-all !important;
}