.stats {
  display: flex;
  align-items: center;

  &-left {
    display: flex;
    border: 1px solid black;
    width: fit-content;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 6px 10px 6px 10px;
  }

  &-left__icon {
    display: flex;
    align-items: center;
  }

  &-right {
    display: flex;
    border: 1px solid black;
    position: relative;
    width: fit-content;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 6px 10px 6px 10px;
  }
}

.stats-left {
  position: relative;
}

.stats-left__icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50px;
  width: 0.5px;
  height: 100%;
  background-color: black;
}

.stats-right__icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 66px;
  width: 0.5px;
  height: 100%;
  background-color: black;
}

.stats-left__icon-text,
.stats-rigt__icon-text {
  margin-right: 13px;
}

.stats-right__icon {
  display: flex;
  align-items: center;
}

.stats-left__icon-svg,
.stats-right__icon-svg {
  margin-right: 5px;
}
